.page-404 {
    position: relative;
    width: max-content;
    margin: -30px auto 357px;
    z-index: 1;

    @media (max-width: 800px) {
        margin: -86px auto 256px;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        h1 {
            font-family: var(--main-font-family);
            font-weight: 400;
            font-size: 35px;
            text-transform: uppercase;
            color: #333C45;
            margin: 0;
        }

        &>p {
            font-family: var(--main-font-family);
            font-weight: 700;
            font-size: 300px;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25);
            background: linear-gradient(101deg, #BA0000 27%, #7B0000 73.12%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            margin: 0;

            @media (max-width: 800px) {
                font-size: 150px;
                margin-top: 150px;
            }

            &::before {
                content: '';
                position: absolute;
                border-radius: 532px;
                background: rgba(0, 0, 0, 0.50);
                filter: blur(7.5px);
                width: 100%;
                height: 3px;
                left: 0;
                bottom: 30px;
            }
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-family: var(--main-font-family);
            font-weight: 400;
            font-size: 20px;
            line-height: 50px;
            text-transform: uppercase;
            color: #949FAA;
            margin: 0 0 10px;
        }

        &>div {
            display: flex;
            gap: 55px;

            @media (max-width: 800px) {
                gap: 4px;
            }

            a {
                font-family: var(--main-font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 47px;
                color: #FFF;
                text-align: center;
                text-decoration: none;
                position: relative;
                width: 176px;
                background: linear-gradient(93deg, rgba(10, 22, 29, 0.80) 19.12%, rgba(32, 38, 45, 0.80) 90.44%);
                box-shadow: 0px 4px 20px 0px rgba(156, 23, 23, 0.20);
                border-radius: 25.82px;
                border: 2px solid transparent;
                border-image: linear-gradient(90deg, rgba(255, 0, 0, 0) 0%, #FFF 50%, rgba(255, 0, 0, 0) 100%);
                border-image-slice: 1;

                &.back {
                    &::before {
                        content: '';
                        position: absolute;
                        width: 8px;
                        height: 13px;
                        background: url(../../../images/right-yellow-arrow.svg) no-repeat;
                        rotate: 180deg;
                        transform: translateY(-50%);
                        left: 23px;
                        bottom: 50%;
                    }
                }
            }
        }
    }

    &__bg {
        position: absolute;
        width: 686px;
        object-fit: cover;
        object-position: center;
        top: -40px;
        left: -378px;

        @media (max-width: 800px) {
            width: 410px;
            transform: translateX(-50%);
            top: 55px;
            left: 50%;
        }
    }
}   