.popup {
  &-order {
    width: 727px;
    height: 479px;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.30);
    clip-path: polygon( 0.062% 11.581%,0.062% 11.581%,0.061% 9.645%,0.281% 7.804%,0.704% 6.087%,1.307% 4.525%,2.073% 3.147%,2.98% 1.985%,4.01% 1.069%,5.141% 0.428%,6.354% 0.094%,7.629% 0.095%,93.668% 12.005%,93.668% 12.005%,94.78% 12.296%,95.819% 12.839%,96.773% 13.609%,97.628% 14.584%,98.372% 15.74%,98.992% 17.054%,99.475% 18.502%,99.809% 20.062%,99.98% 21.709%,99.975% 23.422%,96.487% 86.118%,96.487% 86.118%,96.323% 87.68%,96.015% 89.155%,95.576% 90.525%,95.016% 91.775%,94.349% 92.886%,93.584% 93.844%,92.734% 94.63%,91.81% 95.228%,90.825% 95.621%,89.788% 95.793%,11.957% 99.867%,11.957% 99.867%,10.868% 99.796%,9.825% 99.478%,8.843% 98.933%,7.933% 98.177%,7.111% 97.23%,6.389% 96.11%,5.782% 94.835%,5.302% 93.423%,4.965% 91.892%,4.782% 90.261%,0.062% 11.581% );
    padding: 103px 85px 103px 129px;

    @media (max-width: 800px) {
      width: 349px;
      height: 230px;
      clip-path: polygon( 0.13% 24.455%,0.13% 24.455%,0.128% 20.367%,0.594% 16.479%,1.486% 12.853%,2.761% 9.554%,4.378% 6.646%,6.294% 4.193%,8.467% 2.258%,10.856% 0.905%,13.418% 0.198%,16.111% 0.202%,86.63% 9.965%,86.63% 9.965%,88.977% 10.58%,91.171% 11.726%,93.185% 13.353%,94.991% 15.411%,96.562% 17.851%,97.872% 20.625%,98.892% 23.684%,99.596% 26.977%,99.957% 30.456%,99.948% 34.071%,97.622% 75.891%,97.622% 75.891%,97.274% 79.19%,96.625% 82.304%,95.697% 85.198%,94.515% 87.837%,93.105% 90.184%,91.49% 92.206%,89.695% 93.866%,87.745% 95.128%,85.663% 95.959%,83.475% 96.321%,18.58% 99.719%,18.58% 99.719%,16.281% 99.569%,14.079% 98.898%,12.003% 97.746%,10.083% 96.151%,8.346% 94.152%,6.822% 91.786%,5.539% 89.093%,4.527% 86.111%,3.814% 82.879%,3.428% 79.435%,0.13% 24.455% );
      padding: 30px 20px 0;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @media (max-width: 800px) {
        gap: 10px;
      }

      h2 {
        font-family: var(--bebas-family);
        font-weight: 700;
        font-size: 80px;
        line-height: 65px;
        color: var(--yellow-color);
        margin: 0;

        @media (max-width: 800px) {
          font-size: 40px;
          line-height: 40px;
        }
      }

      input {
        max-width: 462px;
        width: 100%;

        &:last-of-type {
          margin-bottom: 10px;

          @media (max-width: 800px) {
            margin-bottom: 0;
          }
        }
      }
    }

    &__confirm {
      display: flex;
      align-items: center;
      gap: 23px;

      @media (max-width: 800px) {
        gap: 10px;
      }

      button {
        height: max-content;

        @media (max-width: 800px) {
          font-size: 14px;
          padding: 8px 16px;
        }

        &::before, &::after {
          @media (max-width: 800px) {
            content: none;
          }
        }
      }

      p {
        font-family: var(--gilroy-family);
        font-weight: 500;
        font-size: 12px;
        color: #EEF2F9;
        margin: 0;
        opacity: 0.5;

        @media (max-width: 800px) {
          font-size: 8px;
        }

        span {
          color: #34C3FF;
        }

        a {
          font-weight: 500;
          color: #EEF2F9;
        }
      }
    }
  }
}

.fancybox__content>.f-button.is-close-btn {
  width: 53px;
  height: 53px;
  top: 89px;
  right: 36px;
  opacity: 1;

  @media (max-width: 800px) {
    top: 28px !important;

  }

  svg {
    color: #fff;
  }
}